{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 120,
    "plugins": ["./node_modules/prettier-plugin-brace-style/dist/index.js"],
    "braceStyle": "allman"
}
